.contact {
    background-color: #2C2C2C; 
    color: #F5F5F5; 
    padding: .75rem; 
    border-radius: 8px; 
    max-width: 800px; 
    width: 90%;
    margin: 20px auto; 
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.contact h2 {
    font-family: "Special Elite", system-ui;
    letter-spacing: .25rem;
    font-size: 2rem; 
    margin-bottom: 1rem; 
}

.contact p {
    font-size: 1.5rem;
    line-height: 1.5; 
}

.contact a {
    color: #9B0000; 
    text-decoration: none; 
    transition: all 0.3s ease; 
}

.contact a:hover {
    color: #6a0dad;
    font-weight: bold; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}