.container {
    background-color: #2C2C2C;
    color: #F5F5F5;
    padding: .75rem; 
    border-radius: 8px; 
    max-width: 800px; 
    width: 90%;
    margin: 20px auto; 
    text-align: center; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

h2 { 
    font-size: 2.5rem;
}

.container h3 {
    font-family: "Special Elite", system-ui;
    letter-spacing: .25rem;
    font-size: 2rem; 
    margin-bottom: 1rem;    
    margin-top: 1rem;
}

.container p {
    text-align: left;
    margin-top: 1rem;
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%; 
    height: 0;
    overflow: hidden; 
    max-width: 100%;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
}




@media (min-width: 1200px) {
    h2 {
        font-size: 3rem; 
    }
    .container h3 {
        font-size: 3.5rem;
    }
    .container p {
        font-size: 1.25rem;
    }
}

@media (min-width: 992px) {
    h2 {
        font-size: 2.75rem;
    }
    .container h3 {
        font-size: 3rem;
    }
    .container p {
        font-size: 1.15rem;
    }
}

@media (min-width: 768px) {
    h2 {
        font-size: 2.25rem;
    }
    .container h3 {
        font-size: 2.5rem;
    }
    .container p {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 1.5rem; 
       }
}
